<div id="<%= dom_id notification %>">
  <p>
    <strong>Message:</strong>
    <%= notification.message %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= notification.date %>
  </p>

  <p>
    <strong>Read status:</strong>
    <%= notification.read_status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= notification.user_id %>
  </p>

</div>
