<div id="<%= dom_id booking %>">
  <p>
    <strong>Date:</strong>
    <%= booking.date %>
  </p>

  <p>
    <strong>Number of people:</strong>
    <%= booking.number_of_people %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= booking.total_amount %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= booking.tour_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

</div>
