<head>
  <title>
    <%= content_for?(:title) ? yield(:title) : "Tour Booking System" %>
  </title>
  <%= favicon_link_tag asset_path('favicon-16x16.png') %>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'custom', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', defer: true %>
  <%= javascript_include_tag 'custom', defer: true %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
