
<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://bookingtour.vn/templates/themes/vendors/bootstrap/css/bootstrap.min.css" media="all">
      <!-- Fonts Awesome CSS -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/fontawesome/css/all.min.css">
      <!-- jquery-ui css -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/jquery-ui/jquery-ui.min.css">
      <!-- modal video css -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/modal-video/modal-video.min.css">
      <!-- light box css -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/lightbox/dist/css/lightbox.min.css">
      <!-- slick slider css -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/slick/slick.css">
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/vendors/slick/slick-theme.css">
      <!-- google fonts -->
      <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="https://bookingtour.vn/templates/themes/css/style.css?v4">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
      <title>Booking Tour with Fly Tour </title>
	   <meta name="description" content="FlyTour - Travel Easily with FlyTour" />
		<meta name="keywords" content="Đặt tour trong nước, Đặt tour ngoài nước, BookingTour, Danh sách khởi hành TOUR"/>
		<link rel="canonical" href="https://localhost:3000" />
   </head>
   <body class="home">
      <div id="page" class="full-page">
         <main id="content" class="site-main">
            <!-- Home slider html start -->
            <section class="home-slider-section">
               <div class="home-slider">
                  <div class="home-banner-items">
                     <div class="banner-inner-wrap" style="background-image: url(https://bookingtour.vn/templates/themes/images/slider-banner-1.jpg?v3);"></div>
                        <div class="banner-content-wrap">
                           <div class="container">
                              <div class="banner-content text-center">
                                 <h2 class="banner-title">Go Anywhere</h2>
                                 <p>Let FlyTour give you best choices!.</p>
                                 <a href="http://localhost:3000/tours" class="button-primary">More</a>
                              </div>
                           </div>
                        </div>
                     <div class="overlay"></div>
                  </div>
                  <div class="home-banner-items">
                     <div class="banner-inner-wrap" style="background-image: url(https://bookingtour.vn/templates/themes/images/slider-banner-2.jpg?v3);"></div>
                        <div class="banner-content-wrap">
                           <div class="container">
                              <div class="banner-content text-center">
                                 <h2 class="banner-title">EXPERIENCE THE NATURE'S BEAUTY</h2>
                                 <p>Explore beautiful natural scenery with exciting adventures</p>
                                 <a href="https://bookingtour.vn/destination" class="button-primary">CONTINUE READING</a>
                              </div>
                           </div>
                        </div>
                     <div class="overlay"></div>
                  </div>
               </div>
            </section>
            <!-- slider html start -->
            <!-- Home search field html start -->
            <style>
			.thumb-img{
    width: 100%;
    background-position: 50%;
    background-color: #eee;
}
.thumb_5x3 {
    padding-top: 62.5%;
}
.svg-icon {
    display: inline-block;
    width: 1em;
    height: auto;
    color: inherit;
    vertical-align: middle;
    fill: none;
    stroke: currentColor;
}
.svg-fill {
    fill: currentColor;
    stroke: none;
}
.icon--24 {
    width: 24px;
    height: 24px;
}
.checkup--sticky{
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
}
            #show_data {
                  z-index: 11;
                  top: 90px;
                  left: 0px;
                  display: none;
                  width: 92%;
                  position: absolute;
                  border: 1px solid #aaaaaa;
                  background-color: #ffffff;
                  margin-left: 3px;
            }
            #show_data ul {
                  float: left;
                  margin-bottom: 0px;
				  padding-left:3px; important;
            }
            #show_data ul li{
                  text-decoration: none;
                  display: -webkit-inline-box;
                  width: 100%;
                  padding: .7em .4em .7em .6em;
                  line-height: 1.5;
                  zoom: 1;
            }
            #show_data li a{
                color: #000 !important;
                  font-size: 14px;
            }
			
			#show_data2 {
                  z-index: 11;
                  top: 90px;
                  left: 0px;
                  display: none;
                  width: 92%;
                  position: absolute;
                  border: 1px solid #aaaaaa;
                  background-color: #ffffff;
                  margin-left:8px;
            }
            #show_data2 ul {
                  float: left;
                  margin-bottom: 0px;
				  padding-left:3px; important;
            }
            #show_data2 ul li{
                  text-decoration: none;
                  display: -webkit-inline-box;
                  width: 100%;
                  padding: .7em .4em .7em .6em;
                  line-height: 1.5;
                  zoom: 1;
            }
            #show_data2 li a{
                color: #000 !important;
                  font-size: 14px;
            }
			
            </style>
            <!-- Home packages section html start -->
            <section class="package-section">
               <div class="container">
                  <div class="section-heading text-center">
                     <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                           <h5 class="dash-style">EXPLORE GREAT PLACES</h5>
                           <h2>POPULAR TOURS</h2>
                           <p>Discover now tours, travel activities and places to visit for your travel itinerary.</p>
                        </div>
                     </div>
                  </div>
                  <div class="package-inner">
                     <div class="row">
					                         <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/10">
                                    <%= image_tag("phuquoc.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							               <div class="package-price">
                                 <h6>
                                    <span> 2,100,000₫ </span>
                                 </h6>
                              </div>
							               <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          5N/4Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                       </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										            <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/10">Phu Quoc Island Escape</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Phu Quoc</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
						                        <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/8">
                                    <%= image_tag("sapa.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							            <div class="package-price">
                                 <h6>
                                    <span> 1,900,000₫ </span>
                                 </h6>
                              </div>
							      <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          5N/4Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                       </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										
                                             <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>                                        </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/8">Sapa Trekking Tour</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Sapa</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
						      <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/9">
                                    <%= image_tag("hoian.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							         <div class="package-price">
                                 <h6>
                                    <span> 2,000,000₫ </span>
                                 </h6>
                              </div>
							         <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          5N/4Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                       </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										
                                             <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>                                        </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/9">Hoi An Ancient Town</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Hoi An</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
						      <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/7">
                                    <%= image_tag("nhatrang.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							      <div class="package-price">
                                 <h6>
                                    <span> 2,200,000₫ </span>
                                 </h6>
                              </div>
							                                <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          5N/4Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                                                                 </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										
                                             <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>                                        </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/7">Nha Trang Beach Getaway</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Nha Trang</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
						      <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/6">
                                    <%= image_tag("phongnha.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							      <div class="package-price">
                                 <h6>
                                    <span> 2,500,000₫ </span>
                                 </h6>
                              </div>
							                                <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          7N/6Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                                                                 </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										
                                             <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>                                        </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/6">Phong Nha Cave Adventure</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Phong Nha</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="package-wrap">
                              <figure class="feature-image">
                                 <a href="http://localhost:3000/tours/2">
                                    <%= image_tag("halong.jpg", class:"lazyload") %>
                                 </a>
                              </figure>
							      <div class="package-price">
                                 <h6>
                                    <span> 2,000,000₫ </span>
                                 </h6>
                              </div>
							                                <div class="package-content-wrap">
                                 <div class="package-meta text-center">
                                    <ul>
                                       <li>
                                          <i class="far fa-clock"></i>
                                          7N/6Đ                                        </li>
                                       <li>
                                          <i class="fas fa-user-friends"></i>
                                                                                 </li>
                                       <li>
                                          <i class="fas fa-map-marker-alt"></i>
										
                                             <a style="color:#ffffff" href="http://localhost:3000/tours">Vietnam</a>                                        </li>
                                    </ul>
                                 </div>
                                 <div class="package-content">
                                    <h3>
                                       <a href="http://localhost:3000/tours/7">Ha Long Bay Cruise</a>
                                    </h3>
                                    <div class="review-area">
                                       <span class="review-text">Departure from: Ha Long</span>
                                       <div class="rating-start" title="Rated 5 out of 5">
                                          <span style="width: 95%"></span>
                                       </div>
                                    </div>
                                    <div class="btn-wrap">
                                       <a href="http://localhost:3000/bookings/new" class="button-text width-6">Book Tour<i class="fas fa-arrow-right"></i></a>
                                       <a href="#" class="button-text width-6">Wish List<i class="far fa-heart"></i></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
						                 
                       
                     </div>
                     <div class="btn-wrap text-center">
                        <a href="http://localhost:3000/tour_packages" class="button-primary">SEE MORE TOUR PACKAGES</a>
                     </div>
                  </div>
               </div>
            </section>
            
            <!-- Home special section html start -->
            <section class="best-section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-5">
                        <div class="section-heading">
                           <h5 class="dash-style">OUR TOUR GALLERY</h5>
                           <h2>BEST TRAVELER'S SHARED PHOTOS</h2>
                           <p>Beautiful photos on the tour journey shared by customers.</p>
                        </div>
						                        <figure class="gallery-img">
							<a href="http://localhost:3000/tours"><h4>VIETNAM TOUR</h4></a>
                           <a href="http://localhost:3000/tours"><img src="https://dulichsaigon.edu.vn/wp-content/uploads/2024/01/da-nang-top-10-thanh-pho-dang-de-du-lich-nhat.jpg" alt="Tour Vietnam"></a>
                        </figure>
                     </div>
                     <div class="col-lg-7">
                        <div class="row">
                           <div class="col-sm-6">
                              <figure class="gallery-img">
                                 <img src="https://sgtt.thesaigontimes.vn/wp-content/uploads/2024/08/ma-pi-leng-6.jpg" alt="">
                              </figure>
                           </div>
                           <div class="col-sm-6">
                              <figure class="gallery-img">
                                 <img src="https://media.vneconomy.vn/w800/images/upload/2021/10/29/vietnam2.jpeg" alt="">
                              </figure>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-12">
                              <figure class="gallery-img">
                                 <img src="https://image.nhandan.vn/w800/Uploaded/2024/igpcvcvjntc8510/2023_10_25/bai-kem-top-50-bai-bien-dep-nhat-hanh-tinh-4635.jpg" alt="">
                              </figure>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- best html end -->
            <!-- Home client section html start -->
            <div class="client-section">
               <div class="container">
                  <div class="client-wrap client-slider secondary-bg">
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo1.png" alt="">
                        </figure>
                     </div>
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo2.png" alt="">
                        </figure>
                     </div>
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo3.png" alt="">
                        </figure>
                     </div>
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo4.png" alt="">
                        </figure>
                     </div>
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo5.png" alt="">
                        </figure>
                     </div>
                     <div class="client-item">
                        <figure>
                           <img src="https://bookingtour.vn/templates/themes/images/logo2.png" alt="">
                        </figure>
                     </div>
                  </div>
               </div>
            </div>
            <!-- client html end -->
            <!-- Home subscribe section html start -->
            <section class="subscribe-section" style="background-image: url(https://cdn.bookingtour.vn/upload/thanhthao/2024/09/19/61-23562.jpg);">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-7">
                        <div class="section-heading section-heading-white">
                           <h5 class="dash-style">DISCOUNT OPPORTUNITY UP TO 50% !</h2>
                           <h4>Sign up to receive secret offers from FlyTour!!</h4>
                           <div class="newsletter-form">
                              <form>
                                 <input type="email" name="s" placeholder="Enter your phone number or email...">
                                 <input type="submit" name="signup" value="REGISTER NOW!">
                              </form>
                           </div>
                           <p>FlyTour always has SPECIAL promotions for FlyTour members.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!-- subscribe html end -->
            <!-- Home blog section html start -->
            <section class="blog-section">
               <div class="container">
                  <div class="section-heading text-center">
                     <div class="row">
                        <div class="col-lg-8 offset-lg-2">
                           <h5 class="dash-style">FROM OUR BLOG</h5>
                           <h2>RECENT SHARES</h2>
                           <p>Interesting travel experiences are shared here.</p>
                        </div>
                     </div>
                  </div>
                  <div class="row">
				  				  
                     <div class="col-md-6 col-lg-4">
                        <article class="post">
                           <figure class="feature-image">
                              <a href="#">
                                 <img src="https://cdn.bookingtour.vn/thumb_x365x305/upload/2024/12/13/hanh-trinh-qua-bo-dao-nha-lisbon-va-porto8.png" alt="">
                              </a>
                           </figure>
                           <div class="entry-content">
                              <h3>
                                 <a href="#">Journey through Portugal: Lisbon and Porto.</a>
                              </h3>
                              <div class="entry-meta">
                                 <span class="byline">
								                                     <a href="#">Hoàng Hương Chi</a>
                                 </span>
                                 <span class="posted-on">
                                    <a href="#">13/12/24                                 </span>
                                 <span class="comments-link">
                                    <a href="#"></a>
                                 </span>
                              </div>
                           </div>
                        </article>
                     </div>
					 				  
                     <div class="col-md-6 col-lg-4">
                        <article class="post">
                           <figure class="feature-image">
                              <a href="#">
                                 <img src="https://cdn.bookingtour.vn/thumb_x365x305/upload/2024/12/13/kham-pha-van-hoa-va-lich-su-tai-hy-lap-athens-va-santorini7.png" alt="">
                              </a>
                           </figure>
                           <div class="entry-content">
                              <h3>
                                 <a href="#">Explore culture and history in Greece: Athens and Santorini.</a>
                              </h3>
                              <div class="entry-meta">
                                 <span class="byline">
								                                     <a href="#">Thái Hà Trang</a>
                                 </span>
                                 <span class="posted-on">
                                    <a href="#">13/12/24                                 </span>
                                 <span class="comments-link">
                                    <a href="#"></a>
                                 </span>
                              </div>
                           </div>
                        </article>
                     </div>
					 				  
                     <div class="col-md-6 col-lg-4">
                        <article class="post">
                           <figure class="feature-image">
                              <a href="#">
                                 <img src="https://cdn.bookingtour.vn/thumb_x365x305/upload/2024/12/13/du-lich-tay-ban-nha-madrid-barcelona-va-cac-le-hoi-truyen-thong8.jpg" alt="">
                              </a>
                           </figure>
                           <div class="entry-content">
                              <h3>
                                 <a href="#">Spain Travel: Madrid, Barcelona and Traditional Festivals.</a>
                              </h3>
                              <div class="entry-meta">
                                 <span class="byline">
								                                     <a href="#">Nguyễn Huyền Thương</a>
                                 </span>
                                 <span class="posted-on">
                                    <a href="#">13/12/24                                 </span>
                                 <span class="comments-link">
                                    <a href="#"></a>
                                 </span>
                              </div>
                           </div>
                        </article>
                     </div>
					                     
                  </div>
               </div>
            </section>
             <!-- blog html end -->
            
            <!-- Home contact details section html start -->
            <section class="contact-section">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-4">
                        <div class="contact-img" style="background-image: url(https://cdn.bookingtour.vn/upload/timetotravel.png?v);">
                        </div>
                     </div>
                     <div class="col-lg-8">
                        <div class="contact-details-wrap">
                           <div class="row">
                              <div class="col-sm-4">
                                 <div class="contact-details">
                                    <div class="contact-icon">
                                       <img src="https://bookingtour.vn/templates/themes/images/icon12.png" alt="">
                                    </div>
                                    <ul>
                                       <li>
                                          <a href="#">lienhe@flytour.vn</a>
                                       </li>
                                       
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-sm-4">
                                 <div class="contact-details">
                                    <div class="contact-icon">
                                       <img src="https://bookingtour.vn/templates/themes/images/icon13.png" alt="">
                                    </div>
                                    <ul>
                                       <li>
                                          <a href="#">09001090</a>
                                       </li>                                      
                                    </ul>
                                 </div>
                              </div>
                              <div class="col-sm-4">
                                 <div class="contact-details">
                                    <div class="contact-icon">
                                       <img src="https://bookingtour.vn/templates/themes/images/icon14.png" alt="">
                                    </div>
                                    <ul>
                                       <li>
                                           1 Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                                       </li>
                                       
                                    </ul>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="contact-btn-wrap">
                           <h3>LET'S JOIN US FOR MORE UPDATE !!</h3>
                           <a href="#" class="button-primary">LEARN MORE</a>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
            <!--  contact details html end -->
         </main>         <footer id="colophon" class="site-footer footer-primary">
            <div class="top-footer">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                           <h3 class="widget-title">
                              About FlyTour
                           </h3>
                           <div class="textwidget widget-text">
                              Địa chỉ: 1 Trịnh Văn Bô, Nam Từ Liêm, Hà Nội, Việt Nam.
                           </div>
                           <div class="award-img">
                              <a href="#"><img src="https://bookingtour.vn/templates/themes/images/logo6.png" alt=""></a>
                              <a href="#"><img src="https://bookingtour.vn/templates/themes/images/logo2.png" alt=""></a>
                           </div>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_text">
                           <h3 class="widget-title">CONTACT INFORMATION</h3>
                           <div class="textwidget widget-text">
                              
                              <ul>
                                 <li>
                                    <a href="#">
                                       <i class="fas fa-phone-alt"></i>
                                       0888822368
                                    </a>
                                 </li>
                                 <li>
                                    <a href="#">
                                       <i class="fas fa-envelope"></i>
                                       flytour@gmail.com
                                    </a>
                                 </li>
                                 <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    1 Trịnh Văn Bô, Nam Từ Liêm, Hà Nội
                                 </li>
                              </ul>
                           </div>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_recent_post">
                           <h3 class="widget-title">Latest Post</h3>
                           <ul>
                              <li>
                                 <h5>
                                    <a href="#">5 điểm đến mùa thu đẹp như tranh vẽ không thể bỏ qua ở Việt Nam</a>
                                 </h5>
                                 <div class="entry-meta">
                                    <span class="post-on">
                                       <a href="#">August 17, 2024</a>
                                    </span>
                                   
                                 </div>
                              </li>
                              <li>
                                 <h5>
                                    <a href="#">7 lễ hội độc đáo mà bạn không nên bỏ lỡ khi đi du lịch Nhật Bản</a>
                                 </h5>
                                 <div class="entry-meta">
                                    <span class="post-on">
                                       <a href="#">August 19, 2024</a>
                                    </span>
                                   
                                 </div>
                              </li>
                           </ul>
                        </aside>
                     </div>
                     <div class="col-lg-3 col-md-6">
                        <aside class="widget widget_newslatter">
                           <h3 class="widget-title">SUBSCRIBE US</h3>
                           <div class="widget-text">
                             Leave your email so FLYTOUR can send you the TOUR information as soon as possible!
                           </div>
                           <form class="newslatter-form">
                              <input type="email" name="s" placeholder="Your Email..">
                              <input type="submit" name="s" value="SUBSCRIBE NOW">
                           </form>
                        </aside>
                     </div>
                  </div>
               </div>
            </div>
            <div class="buttom-footer">
               <div class="container">
                  <div class="row align-items-center">
                     <div class="col-md-5">
                        <div class="footer-menu">
                           <ul>
                              <li>
                                 <a href="#">TERMS & CONDITIONS</a>
                              </li>
                              <li>
                                 <a href="#">Privacy Policy</a>
                              </li>
                              <li>
                                 <a href="#">About FlyTour</a>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="col-md-2 text-center">
                        <div class="footer-logo">
                           <a href="#"><%= image_tag("ap.png", size: '40') %></a>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="copy-right text-right">Copyright © 2024 FlyTour. All rights Flytour.vn</div>
                     </div>
                  </div>
               </div>
            </div>
         </footer>         <a id="backTotop" href="#" class="to-top-icon">
            <i class="fas fa-chevron-up"></i>
         </a>
         <!-- custom search field html -->
            <div class="header-search-form">
               <div class="container">
                  <div class="header-search-container">
                     <form class="search-form" role="search" method="get" >
                        <input type="text" name="s" placeholder="Enter your text...">
                     </form>
                     <a href="#" class="search-close">
                        <i class="fas fa-times"></i>
                     </a>
                  </div>
               </div>
            </div>
         <!-- header html end -->
      </div>

      <!-- JavaScript -->
      <script src="https://bookingtour.vn/templates/themes/js/jquery.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/bootstrap/js/bootstrap.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/jquery-ui/jquery-ui.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/countdown-date-loop-counter/loopcounter.js"></script>
      <script src="https://bookingtour.vn/templates/themes/js/jquery.counterup.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/modal-video/jquery-modal-video.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/masonry/masonry.pkgd.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/lightbox/dist/js/lightbox.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/vendors/slick/slick.min.js"></script>
      <script src="https://bookingtour.vn/templates/themes/js/jquery.slicknav.js"></script>
      <script src="https://bookingtour.vn/templates/themes/js/custom.min.js"></script>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.0/lazysizes.min.js" async=""></script>
	     
	  
   </body>
</html>