<%= form_with(model: tour) do |form| %>
<% if tour.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(tour.errors.count, "error") %> prohibited this tour from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% tour.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :name, class: label_class %>
          <%= form.text_field :name, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :destination, class: label_class %>
          <%= form.text_field :destination, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :start_date, class: label_class %>
          <%= form.date_field :start_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :end_date, class: label_class %>
          <%= form.date_field :end_date, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :minimum_price, class: label_class %>
          <%= form.text_field :minimum_price, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :max_capcity, class: label_class %>
          <%= form.number_field :max_capcity, class: input_class %>
      </div>
  <div class="mb-6"> 
        <%= form.label :image, class: label_class %> 
          <%= form.file_field :image, class: input_class %>
     </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if tour.persisted? %>
<%= link_to "Cancel", tour, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", tours_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
