<div id="<%= dom_id tour %>">
  <p>
    <strong>Name:</strong>
    <%= tour.name %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= tour.destination %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= tour.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= tour.end_date %>
  </p>

</div>
