<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

  <p>
    <strong>Method:</strong>
    <%= payment.method %>
  </p>

  <p>
    <strong>Booking:</strong>
    <%= payment.booking_id %>
  </p>

</div>
