<div id="<%= dom_id tour_schedule %>">
  <p>
    <strong>Itinerary:</strong>
    <%= tour_schedule.itinerary %>
  </p>

  <p>
    <strong>Day number:</strong>
    <%= tour_schedule.day_number %>
  </p>

  <p>
    <strong>Activity description:</strong>
    <%= tour_schedule.activity_description %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= tour_schedule.tour_id %>
  </p>

</div>
