<%= form_with(model: vehicle_schedule) do |form| %>
<% if vehicle_schedule.errors.any? %>
<div id="error_explanation" class="bg-red-50 p-6 rounded text-red-800">
  <h2 class="text-lg font-semibold mb-3"><%= pluralize(vehicle_schedule.errors.count, "error") %> prohibited this vehicle_schedule from being saved:</h2>

  <ul class="list-disc leading-relaxed">
    <% vehicle_schedule.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <div class="mb-6">
        <%= form.label :departure_time, class: label_class %>
          <%= form.datetime_field :departure_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :arrival_time, class: label_class %>
          <%= form.datetime_field :arrival_time, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :route, class: label_class %>
          <%= form.text_field :route, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :vehicle_id, class: label_class %>
          <%= form.text_field :vehicle_id, class: input_class %>
      </div>
  <div class="mb-6">
        <%= form.label :tour_id, class: label_class %>
          <%= form.text_field :tour_id, class: input_class %>
      </div>

<%= form.submit class: button_class(theme: 'primary') %>

<% if vehicle_schedule.persisted? %>
<%= link_to "Cancel", vehicle_schedule, class: "text-neutral-700 underline inline-block ml-3" %>
<% else %>
<%= link_to "Cancel", vehicle_schedules_path, class:  "text-neutral-700 underline inline-block ml-3" %>
<% end %>
<% end %>
