<div id="<%= dom_id vehicle_schedule %>">
  <p>
    <strong>Departure time:</strong>
    <%= vehicle_schedule.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= vehicle_schedule.arrival_time %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= vehicle_schedule.route %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= vehicle_schedule.vehicle_id %>
  </p>

  <p>
    <strong>Tour:</strong>
    <%= vehicle_schedule.tour_id %>
  </p>

</div>
