<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Vehicle_schedule</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to vehicle_schedules_path, class: button_class(theme: "transparent") do %>
      All Vehicle_schedules
      <% end %>
      <%= link_to edit_vehicle_schedule_path(@vehicle_schedule), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Departure time:</p>
        <p><%= @vehicle_schedule.departure_time %></p>
      </li>
      <li>
        <p class="font-semibold">Arrival time:</p>
        <p><%= @vehicle_schedule.arrival_time %></p>
      </li>
      <li>
        <p class="font-semibold">Route:</p>
        <p><%= @vehicle_schedule.route %></p>
      </li>
      <li>
        <p class="font-semibold">Vehicle:</p>
        <p><%= @vehicle_schedule.vehicle.vehicle_type %></p>
      </li>
      <li>
        <p class="font-semibold">Tour:</p>
        <p><%= @vehicle_schedule.tour.id %></p>
      </li>
  </ul>
</div>
