<div id="<%= dom_id vehicle %>">
  <p>
    <strong>Vehicle type:</strong>
    <%= vehicle.vehicle_type %>
  </p>

  <p>
    <strong>Capacity:</strong>
    <%= vehicle.capacity %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= vehicle.model %>
  </p>

  <p>
    <strong>Registration number:</strong>
    <%= vehicle.registration_number %>
  </p>

</div>
