<div class="max-w-3xl mx-auto px-4">
  <div class="flex items-center justify-between">
    <h1 class="flex-1 font-bold text-3xl">Vehicle</h1>

    <div class="flex-wrap lg:flex items-center lg:space-x-3">
      <%= link_to vehicles_path, class: button_class(theme: "transparent") do %>
      All Vehicles
      <% end %>
      <%= link_to edit_vehicle_path(@vehicle), class: button_class(theme:"primary") do %>
      Edit
      <% end %>
    </div>
  </div>

  <ul class="text-slate-700">
      <li>
        <p class="font-semibold">Type:</p>
        <p><%= @vehicle.type %></p>
      </li>
      <li>
        <p class="font-semibold">Capcity:</p>
        <p><%= @vehicle.capcity %></p>
      </li>
      <li>
        <p class="font-semibold">Model:</p>
        <p><%= @vehicle.model %></p>
      </li>
      <li>
        <p class="font-semibold">Registration number:</p>
        <p><%= @vehicle.registration_number %></p>
      </li>
  </ul>
</div>
